In [1]:
students = ["John","Mark","Venessa","Mariam"]

In [2]:
students[0]

'John'

In [3]:
for i in students:
    print(i)

John
Mark
Venessa
Mariam

In [4]:
salaries = [100,200,300,400,500]

In [5]:
for salary in salaries:
    print(int(salary*20/100+salary))

120
240
360
480
600

In [6]:
def new_salary(salary,rate):
    return int(salary*rate/100+salary)

In [7]:
new_salary(4500,20)

5400

In [8]:
for salary in salaries:
    print(new_salary(salary,20))

120
240
360
480
600

In [9]:
salaries2 = [100,200,300,400,500]

In [10]:
for salary in salaries2:
    if salary >= 300:
        print(new_salary(salary,10))
    else:
        print(new_salary(salary,20))

120
240
330
440
550