In [1]:
def summer(a,b):
    return a+b

summer(1,3)*9

36

In [2]:
new_sum = lambda a,b: a+b

In [3]:
new_sum(4,5)

9

In [4]:
salaries = [1000,2000,3000,4000,5000]

In [5]:
def new_salary(x):
    return x * 20 / 100 + x

In [6]:
new_salary(5000)

6000.0

In [7]:
for salary in salaries:
    print(new_salary(salary))

1200.0
2400.0
3600.0
4800.0
6000.0

In [8]:
list(map(new_salary,salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [9]:
list(map(lambda x: x*20/100 + x, salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [10]:
list(map(lambda x: x*20/100 + x, salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [11]:
list(map(lambda x: x**2 + x, salaries))

[1001000, 4002000, 9003000, 16004000, 25005000]

In [12]:
list_store = [1,2,3,4,5,6,7,8,9,10]

In [13]:
list(filter(lambda x:x%2==0,list_store))

[2, 4, 6, 8, 10]

In [14]:
from functools import reduce
list_store = [1,2,3,4]
reduce(lambda a,b:a+b,list_store)

10