In [1]:
x = 8
y=3.2
z=8j+18
a="Hello World"
b=True
c=23<22
l=[1,2,3,4]
d={"Name":"Jake","Age":27,"Adress":"Downtown"}
t={"Machine learning","Data Science"}
s={"Python","Machine learning","Data Science"}

In [2]:
type(x)

int

In [3]:
type(y)

float

In [4]:
type(z)

complex

In [5]:
type(a)

str

In [6]:
type(b)

bool

In [7]:
type(c)

bool

In [8]:
type(l)

list

In [9]:
type(d)

dict

In [10]:
type(t)

set

In [11]:
type(s)

set

In [16]:
text = "The goal is to turn data into information, and information into insight"

In [17]:
text_new = text.replace(","," ").upper()

In [18]:
text_new2 = text_new.split()

In [19]:
text_new2

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

In [20]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]

In [21]:
len(lst)

11

In [22]:
print(lst[0],lst[10])

D E

In [25]:
lst1 = list(lst[0:4])

In [26]:
lst1

['D', 'A', 'T', 'A']

In [27]:
lst.pop(8)

'N'

In [28]:
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [29]:
lst.append("D")

In [30]:
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'D']

In [31]:
lst.insert(8,"N")

In [32]:
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'D']

In [33]:
dict = {'Christian':["America",18],
        'Daisy':["England",12],
        'Antonio':["Spain",22],
        'Dante':["Italy",25]}

In [35]:
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [36]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [37]:
dict["Daisy"][1]=13

In [38]:
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [39]:
dict["Ahmet"]=["Turkey",24]

In [40]:
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [41]:
dict.pop("Antonio")

['Spain', 22]

In [42]:
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [43]:
l = [2,13,18,93,22]

def kontrol(liste):
    cift_tek = {"Çift":[],"Tek":[]}
    for i in liste:
        if i%2==0:
            cift_tek["Çift"].append(i)
        else:
            cift_tek["Tek"].append(i)
    print(cift_tek)
    return cift_tek

In [44]:
kontrol(l)

{'Çift': [2, 18, 22], 'Tek': [13, 93]}

{'Çift': [2, 18, 22], 'Tek': [13, 93]}

In [71]:
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]
d = len(ogrenciler)-len(ogrenciler)+1
for index,i in enumerate(ogrenciler):
    
    if index<3:
        print("Mühendislik Fakültesi ", index+1, ". öğrenci",i)
    elif index>=2:
        print("Tıp Fakültesi ", d, ". öğrenci ",i)
        d+=1

Mühendislik Fakültesi  1 . öğrenci Ali
Mühendislik Fakültesi  2 . öğrenci Veli
Mühendislik Fakültesi  3 . öğrenci Ayşe
Tıp Fakültesi  1 . öğrenci  Talat
Tıp Fakültesi  2 . öğrenci  Zeynep
Tıp Fakültesi  3 . öğrenci  Ece

In [72]:
ders_kodu=["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi=[3,4,2,4]
kontenjan=[30,75,150,25]

In [84]:
list(map(lambda lst:print("Kredisi {} olan {} kodlu dersin kontenjanı {} kişidir".format(lst[0],lst[1],lst[2])),list(zip(kredi,ders_kodu,kontenjan))))

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir

[None, None, None, None]

In [91]:
kume1 = set(["data","python"])
kume2 = set(["data","function","qcut","lambda","python","miul"])

In [93]:
if kume1.issuperset(kume2):
    print(kume1.intersection(kume2))
else:
    print(kume2.difference(kume1))

{'miul', 'function', 'qcut', 'lambda'}